@media only screen and (max-width:1140px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .rightNav {
        text-align: center;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 72px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .section {
        flex-direction: column;
    }

    .text-big {
        text-align: center;
    }

    .text-small {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    .paras {
        padding: 0px;
    }

    .desc img {
        width: 80%;
    }

    #courses {
        flex-direction: column;
        margin-left: 30px;
    }

    #courses .box {
        padding: 14px;
        margin: 2px;
        margin-bottom: 20px;
        width: fit-content;
    }

    #courses .box:hover {
        transform: none;
        background-color: white;
    }

    #courses .box img {
        width: 40%;
    }

    #courses .box p {
        width: auto;
    }

    .h-secondary {
        font-size: 30px;
    }

    .center {
        width: auto;
    }

    .btn-dark {
        margin-left: 40%;
    }

    .desc {
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }
}